#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  place-items: center;
  width: 100vw;
}
.btnContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 1%;
}
.btnContainer button {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 3%;
}

.editContainer > input {
  position: relative;
  width: 85%;
  margin-left: 5%;
  margin-bottom: 3%;
}
.editBtnContainer {
  display: flex;
  justify-content: center;
}
