.itemList {
  position: relative;
  display: inline-block;
  width: 70vw;
}

li {
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

.item-content {
  flex-grow: 1;
}

button {
  margin-left: 3%;
  width: 10vw;
}

.editMode {
  initial-value: none;
  display: none;
}
